S3method(predict,ctsmr)
S3method(print,ctsmr)
S3method(print,summary.ctsmr)
S3method(simulate,ctsmr)
S3method(summary,ctsmr)
export(ctsm)
export(filter.ctsmr)
export(smooth.ctsmr)
export(stochastic.simulate)
exportClasses(ctsm)
importFrom(methods,setRefClass)
importFrom(stats,simulate)
